# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.slnLaunch.user

# Build folders
bin/
obj/

# =========================
# Node / Mobile / Expo
# =========================
node_modules/
dist/
build/
.expo/
.expo-shared/
android/
ios/
npm-debug.log*

# =========================
# Editor & Test
# =========================
.vscode/
TestResults/

# =========================
# Logs & OS files
# =========================
*.log
.DS_Store
Thumbs.db
